# Auto detect text files and perform LF normalization
* text=auto

scss/* linguist-vendored
examples/* linguist-vendored
fonts/*
css/materialize.css linguist-vendored
css/materialize.centercorrection.css linguist-vendored
