<div id="search-modal" class="modal modal-fixed-footer rich-black outerspace-lighten-text search-modal">
  <div class="modal-content modal-owncontent modal-background">
    <h3><strong>NEW SUMMONER SEARCH</strong></h3>

    <!-- Search Information -->
    <div class="row" style="margin-top: 1rem">
      <form id="searchForm">
        <div class="input-field col s8">
          <i class="material-icons prefix">account_circle</i>
          <input id="summoner_name" type="text">
          <label for="summoner_name">Summoner Name</label>
        </div>

        <div class="input-field col s3" style="margin-left: 2rem">
          <select class="icons" size="2" id="server">
            <option value="" disabled selected>Your region</option>
            <option value="br" data-icon="assets/servers/brazil.png" class="circle">BR</option>
            <option value="eune" data-icon="assets/servers/eune.png" class="circle">EUNE</option>
            <option value="euw" data-icon="assets/servers/euw.png" class="circle">EUW</option>
            <option value="jp" data-icon="assets/servers/japan.png" class="circle">JP</option>
            <option value="kr" data-icon="assets/servers/korea.png" class="circle">KR</option>
            <option value="lan" data-icon="assets/servers/lan.png" class="circle">LAN</option>
            <option value="las" data-icon="assets/servers/las.png" class="circle">LAS</option>
            <option value="na" data-icon="assets/servers/na.png" class="circle">NA</option>
            <option value="oce" data-icon="assets/servers/oceania.png" class="circle">OCE</option>
            <option value="ru" data-icon="assets/servers/russia.png" class="circle">RU</option>
            <option value="tr" data-icon="assets/servers/turkey.png" class="circle">TR</option>
          </select>
          <label>Region</label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer rich-black">
    <a id = "search-modal-close" href="#!" class="modal-action waves-effect waves-blue outerspace white-text btn">Search</a>
    <a  href="#!" class="modal-action modal-close waves-effect waves-blue outerspace white-text btn">Close</a>
  </div>
</div>
