<div id="settings-modal" class="modal modal-fixed-footer rich-black outerspace-lighten-text settings-modal">
  <div id="settings-modal-content" class="modal-content modal-owncontent modal-background">
    <h3><strong>SETTINGS</strong></h3>

    <!-- Default Information -->
    <div class="row" style="margin-top: 1rem">
      <span class="flow-text">Default Values<br></span>
      <form id="stg-form1">
        <div class="input-field col s8">
          <i class="material-icons prefix">account_circle</i>
          <input id="settings_summoner_name" type="text">
          <label for="settings_summoner_name" class="">Default Summoner Name</label>
        </div>

        <div class="input-field col s3" style="margin-left: 2rem">
          <i class="material-icons prefix">home</i>
          <select class="icons" size="2" id="settings_server">
            <option value="" disabled selected>Your region</option>
            <option value="br" data-icon="assets/servers/brazil.png" class="circle">BR</option>
            <option value="eune" data-icon="assets/servers/eune.png" class="circle">EUNE</option>
            <option value="euw" data-icon="assets/servers/euw.png" class="circle">EUW</option>
            <option value="jp" data-icon="assets/servers/japan.png" class="circle">JP</option>
            <option value="kr" data-icon="assets/servers/korea.png" class="circle">KR</option>
            <option value="lan" data-icon="assets/servers/lan.png" class="circle">LAN</option>
            <option value="las" data-icon="assets/servers/las.png" class="circle">LAS</option>
            <option value="na" data-icon="assets/servers/na.png" class="circle">NA</option>
            <option value="oce" data-icon="assets/servers/oceania.png" class="circle">OCE</option>
            <option value="ru" data-icon="assets/servers/russia.png" class="circle">RU</option>
            <option value="tk" data-icon="assets/servers/turkey.png" class="circle">TK</option>
          </select>
          <label>Region</label>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="class s8">
        <form id="stg-form2">
          <div class="input-field col s8">
            <i class="material-icons prefix">flag</i>
            <select class="icons" size="2" id="settings_language">
              <option value="" disabled selected>Your language</option>
              <option value="en" data-icon="assets/servers/english.jpg" class="circle">English</option>
              <option value="pt" data-icon="assets/servers/brazil.png" class="circle">Portuguese (Brazilian)</option>
            </select>
            <label>Default Language</label>
          </div>
        </form>
      </div>
    </div>

    <!-- Switches -->
    <div class="row" style="line-height: 1.6rem !important">
      <div class="col s6">
        <span class="flow-text"><br>Finish app at Exit button (Else minimize)<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox" id="stg-switch1">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="col s6">
        <span class="flow-text"><br>Windows Notifications<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox"  id="stg-switch2">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <span class="flow-text"><br>Show tooltips in Runes<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox" id="stg-switch3">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="col s4">
        <span class="flow-text"><br>Show tooltips in Masteries<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox" id="stg-switch4">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="col s4">
        <span class="flow-text"><br>Show tooltips in Elos<br></
          span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox" id="stg-switch5">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer rich-black">
    <a  href="#!" id="settings-modal-close" class="modal-action modal-close waves-effect waves-blue outerspace white-text btn">Close</a>
  </div>
</div>
