<div id="settings-modal" class="modal modal-fixed-footer rich-black outerspace-lighten-text settings-modal">
  <div id="settings-modal-content" class="modal-content modal-owncontent modal-background">
    <h3><strong>SETTINGS</strong></h3>

    <!-- Default Information -->
    <div class="row" style="margin-top: 1rem">
      <span class="flow-text">Default Values<br></span>
      <form>
        <div class="input-field col s8">
          <i class="material-icons prefix">account_circle</i>
          <input id="summoner_name" type="text">
          <label for="summoner_name">Default Summoner Name</label>
        </div>

        <div class="input-field col s3" style="margin-left: 2rem">
          <i class="material-icons prefix">home</i>
          <select class="icons" size="2">
            <option value="" disabled selected>Default region</option>
            <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/275px-Flag_of_Brazil.svg.png" class="circle">BR</option>
            <option value="" data-icon="https://www.infoescola.com/wp-content/uploads/2007/08/uniao-europeia.png" class="circle">EUNE</option>
            <option value="" data-icon="https://www.infoescola.com/wp-content/uploads/2007/08/uniao-europeia.png" class="circle">EUW</option>
            <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/2000px-Flag_of_Japan.svg.png" class="circle">JP</option>
            <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/200px-Flag_of_South_Korea.svg.png" class="circle">KR</option>
            <option value="" data-icon="" class="circle">LAN</option>
            <option value="" data-icon="" class="circle">LAS</option>
            <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/2000px-Flag_of_the_United_States.svg.png" class="circle">NA</option>
            <option value="" data-icon="" class="circle">OCE</option>
            <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/200px-Flag_of_Russia.svg.png" class="circle">RU</option>
            <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/300px-Flag_of_Turkey.svg.png" class="circle">TK</option>
          </select>
          <label>Region</label>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="class s8">
        <form>
          <div class="input-field col s8">
            <i class="material-icons prefix">flag</i>
            <select class="icons" size="2">
              <option value="" disabled selected></option>
              <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/275px-Flag_of_Brazil.svg.png" class="circle">BR</option>
              <option value="" data-icon="https://www.infoescola.com/wp-content/uploads/2007/08/uniao-europeia.png" class="circle">EUNE</option>
              <option value="" data-icon="https://www.infoescola.com/wp-content/uploads/2007/08/uniao-europeia.png" class="circle">EUW</option>
              <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Japan.svg/2000px-Flag_of_Japan.svg.png" class="circle">JP</option>
              <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/200px-Flag_of_South_Korea.svg.png" class="circle">KR</option>
              <option value="" data-icon="" class="circle">LAN</option>
              <option value="" data-icon="" class="circle">LAS</option>
              <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/2000px-Flag_of_the_United_States.svg.png" class="circle">NA</option>
              <option value="" data-icon="" class="circle">OCE</option>
              <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/200px-Flag_of_Russia.svg.png" class="circle">RU</option>
              <option value="" data-icon="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/300px-Flag_of_Turkey.svg.png" class="circle">TK</option>
            </select>
            <label>Default Language</label>
          </div>
        </form>
      </div>
    </div>

    <!-- Switches -->
    <div class="row" style="line-height: 1.6rem !important">
      <div class="col s6">
        <span class="flow-text"><br>Finish app at Exit button (Else minimize)<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="col s6">
        <span class="flow-text"><br>Windows Notifications<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <span class="flow-text"><br>Show tooltips in Runes<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="col s4">
        <span class="flow-text"><br>Show tooltips in Masteries<br></span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="col s4">
        <span class="flow-text"><br>Show tooltips in Elos<br></
          span>
        <div class="switch ownswitch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer rich-black">
    <a href="#!" class="modal-action modal-close waves-effect waves-blue outerspace white-text btn">Close</a>
    <!-- Need to change it dinamically to Apply if something has changed-->
  </div>

</div>
