<ul id="slide-out" class="side-nav fixed outerspace white-text">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/splashs/4.png">
      </div>
      <img class="circle responsive-img left perfil-icon" src="http://ddragon.leagueoflegends.com/cdn/{{patch}}/img/profileicon/{{summonerIcon}}.png">
      <br><br><br>
      <span class="white-text flow-text perfil-name">{{summonerName}}</span>
      <span class="white-text flow-text email perfil-level">Level {{summonerLevel}}</span>
    </div>
  </li>
  <li><a class="waves-effect modal-trigger white-text sidenav-li" href="#profile-modal"><i class="material-icons white-text sidenav-icon">person</i>Profile</a></li>
  <li><a class="waves-effect modal-trigger white-text  sidenav-li" href="#settings-modal"><i class="material-icons white-text sidenav-icon">settings</i>Settings</a></li>
  <div class="divider white"></div>
  <div style="margin-top: 20rem">
    <a class="right white-text" href="#!" style="padding-right: 0.4rem">Donate</a><br>
    <a class="right white-text" href="#!" style="padding-right: 0.4rem">About</a>
  </div>
</ul>
