<div class="row"> <!-- Top Information !-->
  <div class="col s6">
    <a class="waves-effect waves-light outerspace btn modal-trigger search-summoner" href="#search-modal"><i class="material-icons right">edit</i>Search Another Summoner</a>
  </div> <!--Modal Trigger !-->
  <div class="col s5 outerspace z-depth-1 match-info"><a class="white-text"><span class="flow-text"><strong>{{map}}</strong></span><br>{{gameQueue}}</a></div>
</div>
