/* Coolors Exported Palette - coolors.co/010a13-049fae-454955-ad8033-624a1f */

/* HSL */
$color1: hsla(210%, 90%, 4%, 1);
$color2: hsla(185%, 96%, 35%, 1);
$color3: hsla(225%, 10%, 30%, 1);
$color4: hsla(38%, 54%, 44%, 1);
$color5: hsla(39%, 52%, 25%, 1);

/* RGB */
$color1: rgba(1, 10, 19, 1);
$color2: rgba(4, 159, 174, 1);
$color3: rgba(69, 73, 85, 1);
$color4: rgba(173, 128, 51, 1);
$color5: rgba(98, 74, 31, 1);